<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/nav') %>

    <div class="content" style="padding-left: 20px">
      <h1>Homepage</h1>
      <h2>Welcome to the ultimate blogspot of the company</h2>

      <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <div class="tag">
        <a href="/blogs/<%= blog._id %>">
          <h2><%= blog.title %></h2>
          <p><%= blog.snippet %></p>
        </a>
      </div>
      <% }) %> <% } else { %>
      <h2>There are no blogs to show today.</h2>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
