<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/nav') %>

    <div id="details" class="content">
      <h2><%= blog.title %></h2>
      <p><%= blog.body %></p>
      <a class="del-button" data-doc="<%=blog._id %>">Delete</a>
    </div>

    <%- include('./partials/footer') %>
    <script>
      const trashCan = document.querySelector("a.del-button");

      trashCan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashCan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect;
            
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
