<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  
  <body>
    <%- include('./partials/nav') %>

    <div style="padding-left: 20px">
      <h1>Homepage</h1>
      <p>Welcome to the ultimate blogspot of the company</p>

      <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <h2><%= blog.title %></h2>
      <p><%= blog.snippet %></p>
      <% }) %> <% } %>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
